.popup__input {
  display: block;
  padding: 0;
  padding-bottom: 9px;
  margin: 0 auto 30px;
  min-width: 238px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
}

.popup__input_red::placeholder {
  color: red;
}

.popup__input:last-child {
  margin: 0 auto 44px;
}

@media (min-width: 768px) {
  .popup__input {
    min-width: 358px;
  }

  .popup__input:last-child {
    margin-bottom: 47px;
  }
}


