.popup__quote-input {
  display: block;

  margin: 0 auto 45px;
  padding: 0;
  padding-bottom: 13px;

  min-width: 238px;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;

  border: none;
  border-bottom: 1px solid #000000;
}

@media (min-width: 768px) {
  .popup__quote-input {
    margin-bottom: 45px;
    min-width: 358px;
  }
}
