.popup__submit-button {
  display: block;
  padding: 0;
  margin: 21px auto 25px;
  min-width: 238px;
  min-height: 46px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  background-color: black;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  transition: opacity .3s linear;
}

.popup__submit-button:hover {
  opacity: .8;
  cursor: pointer;
}

.popup__submit-button:disabled {
  opacity: .4;
  cursor: not-allowed;
  background-color: white;
  color: black;
  border: 1px solid black;
}

@media (min-width: 768px) {
  .popup__submit-button {
    margin-bottom: 37px;
    margin-top: 31px;
    min-width: 358px;
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}
