.elements__image {
  display: block;
  border-radius: 10px 10px 0px 0px;
  width: 282px;
  height: 282px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.elements__image:hover {
  cursor: pointer;
}







