.popup__close-button {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/cloge_icon.svg);
  background-color: transparent;

  border: none;

  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0;

  transition: all .3s linear;
}

.popup__close-button:hover {
  opacity: 0.6;
  transform: rotate(90deg);
}

@media (min-width: 768px) {
  .popup__close-button {
    width: 32px;
    height: 32px;

    top: -40px;
    right: -40px;
  }
}
