.profile__photo {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto 26px;
  cursor: pointer;
  transition: opacity .3s;
  object-fit: cover;
}

.profile__photo:hover {
  opacity: .6;
}

@media (min-width: 1024px) {
  .profile__photo {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
