.profile__name-container {
  margin: 0 38px 10px 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .profile__name-container {
    margin: 0;
    margin-bottom: 7px;
  }
}
