.image {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.image::before {
  content: '';
  background-color: #000000;
  opacity: .5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image__pic {
  display: block;
  border-radius: 0;
  max-width: 75vw;
  max-height: 75vh;
}

.image__title {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 240px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.image__close-button {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../../images/cloge_icon.svg);
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -36px;
  right: 0;
  transition: all .3s linear;
}

.image__close-button:hover {
  opacity: 0.6;
  transform: rotate(90deg);
  cursor: pointer;
}

@media (min-width: 768px) {
  .image__close-button {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}
